body {
  background: linear-gradient(to left, #b8b8b8, #d4dae2 1px);
  font-family: 'Lucida Grande', sans-serif;
  cursor: default;
}

ul {
  display: block;
  margin: 0;
  padding: 0;
}

li {
  display: block;
  margin: 0;
  padding: 5px;
  font-size: 13px;
  text-shadow: rgba(255, 255, 255, 0.8) 0 1px;
}

.categories + .subscriptions {
  margin-top: 20px;
}
